# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# IOPipe directories
iopipe_handlers

# test output and coverage
.nyc_output
coverage

# lumigo-wrapped handler files
_lumigo

# secrets
.env
